{% extends 'layout.html.twig' %}

{% block title %}Shoefony - Nos Produits{% endblock %}

{% block content %}

  <div class="container">
			<div class="row">
				<div class="col-md-3">
					{{ render(controller('App\\Controller\\StoreController::listBrand', {'brandId': brandId })) }}
				</div>

				<div class="col-md-9">
					<p class="lead">{{ brand is not null ? brand.name : 'Aucune marque selectionnée' }}</p>
					<div class="row text-center">

					{% for product in products %}
						{{ include('store/_card_product.html.twig', {'product': product}) }}
					{% else %}
						<h1>Aucun produit</h1>
					{% endfor %}
					</div>

					<div class="row text-center">
						<nav>
							<ul class="pagination pagination-lg">
								<li>
									<a href="#" aria-label="Précédent">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#" aria-label="Suivant">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			</div>
			<hr/>

  </div>
{% endblock %}




